


/* ====================== Block Quote ====================== */

blockquote {
    font-size: 15px;
    background-color: rgba(169, 221, 255, 0.5);
    border-left: 5px solid #496e86;
    border-radius: 4px
}

pre.highlight code {
    background-color: transparent !important;
}

blockquote code span {
    background-color: transparent !important;
}